In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
os.chdir('F:\MLProject\ML-GenAI\Data')
os.getcwd()

'F:\\MLProject\\ML-GenAI\\Data'

In [3]:
df1=pd.read_csv('Churn_Modelling.csv')
df1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df1=df1.drop(columns=['RowNumber','CustomerId',	'Surname'])
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df1.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
lencoder=LabelEncoder()
onehot=OneHotEncoder(sparse_output=False)

In [7]:
df1['Gender']=lencoder.fit_transform(df1['Gender'])
df1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
df1['Gender'].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [9]:
geo_cat=geo_code_value=onehot.fit_transform(df1[['Geography']])
geo_cat

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [10]:
onehot.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
onehot.categories_

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [12]:
geo_data=pd.DataFrame(geo_code_value,columns=onehot.get_feature_names_out(['Geography']))
geo_data

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
df1=pd.concat([df1.drop('Geography',axis=1),geo_data],axis=1)
df1

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [14]:
#([(df1.drop('Geography'),axis=1),geo_data],axis=1)

In [15]:
# save onehot and label encoder as pickel files
with open('onehot.pkl','wb') as file:
    pickle.dump(onehot,file)
#onehot
#lencoder

In [16]:
with open('lencoder.pkl','wb') as file:
    pickle.dump(lencoder,file)

In [17]:
x=df1.drop('Exited',axis=1)
y=df1[['Exited']]

In [18]:
print(x.shape)
print(y.shape)

(10000, 12)
(10000, 1)

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
#x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2,random_state=2)

In [21]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [22]:
x_scaler=scaler.fit_transform(x)
x_scaler

array([[-0.32622142, -1.09598752,  0.29351742, ...,  0.99720391,
        -0.57873591, -0.57380915],
       [-0.44003595, -1.09598752,  0.19816383, ..., -1.00280393,
        -0.57873591,  1.74273971],
       [-1.53679418, -1.09598752,  0.29351742, ...,  0.99720391,
        -0.57873591, -0.57380915],
       ...,
       [ 0.60498839, -1.09598752, -0.27860412, ...,  0.99720391,
        -0.57873591, -0.57380915],
       [ 1.25683526,  0.91241915,  0.29351742, ..., -1.00280393,
         1.72790383, -0.57380915],
       [ 1.46377078, -1.09598752, -1.04143285, ...,  0.99720391,
        -0.57873591, -0.57380915]])

In [23]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2,random_state=2)

In [24]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)
#onehot
#lencoder
#scaler

In [25]:
import tensorflow as tf

In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [27]:
import datetime

In [28]:
x_train.shape[1]

12

In [29]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), # Hidden layer 1
    Dense(32,activation='relu'), # Hidden layer 2
    Dense(1,activation='sigmoid') # output layer

]  )

f:\MLProject\ML-GenAI\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [30]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [31]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [32]:
## tensorflow board
logdir="log/fit"
tensorflow_callback=TensorBoard(log_dir=logdir,histogram_freq=1)

In [33]:
#early stopping
earlystop_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [34]:
history=model.fit(x_train, y_train,validation_data=(x_test,y_test),epochs=100, callbacks=[tensorflow_callback,earlystop_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 16s 19ms/step - accuracy: 0.6715 - loss: 424.6391 - val_accuracy: 0.6425 - val_loss: 131.2375
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6837 - loss: 117.4663 - val_accuracy: 0.7150 - val_loss: 64.5522
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6848 - loss: 133.0071 - val_accuracy: 0.7330 - val_loss: 90.8085
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6662 - loss: 114.8737 - val_accuracy: 0.7185 - val_loss: 139.8176
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.6858 - loss: 116.3907 - val_accuracy: 0.7650 - val_loss: 53.8448
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.6787 - loss: 86.2666 - val_accuracy: 0.7375 - val_loss: 85.9372
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6798 - loss: 79.8452 - val_accuracy: 0.4705 - val_loss: 114.0244
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6667 - loss: 120.6427 - val_accuracy: 0.7290 - val_loss: 117.9687
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6756 - loss: 99.2594 - val_accuracy: 0.5320 - val_loss: 136.5348
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6723 - loss: 99.4929 - val_accuracy: 0.8050 - val_loss: 59.0546

In [35]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [36]:
%load_ext tensorboard

In [37]:
%tensorboard --logdir log/fit

Reusing TensorBoard on port 6006 (pid 18112), started 2 days, 2:17:15 ago. (Use '!kill 18112' to kill it.)