In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import tensorflow

In [ ]:
from tensorflow.keras.models import load_model

In [ ]:
os.getcwd()

'C:\\Users\\SUDHARSHAN'

In [ ]:
         #Lable encoder unpickling
with open('F:\MLProject\ML-GenAI\Data\lencoder.pkl', 'rb') as f:
    labelcoder = pickle.load(f)     

#onehot encoder unpickling
with open('F:\MLProject\ML-GenAI\Data\onehot.pkl', 'rb') as f:
    onehot = pickle.load(f)    
##Standard scaler unpickling
with open('F:\MLProject\ML-GenAI\Data\scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

C:\Users\SUDHARSHAN\anaconda3\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.6.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\SUDHARSHAN\anaconda3\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.6.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\SUDHARSHAN\anaconda3\Lib\site-packages\sklearn\base.py:318: UserWarning: Trying to unpickle estimator StandardScaler from version 1.6.1 when using version 1.2.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [ ]:
model=load_model('F:\MLProject\ML-GenAI\Data\model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
# Example input data
input_data = {
    'CreditScore': 700,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 35,
    'Tenure': 3,
    'Balance': 85000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 95000
}

In [ ]:
input_data['Geography']
onehot.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [ ]:
onehot_geo=onehot.transform([[input_data['Geography']]])
onehot_geo_df=pd.DataFrame(onehot_geo, columns=onehot.get_feature_names_out(['Geography']))

C:\Users\SUDHARSHAN\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [ ]:
onehot_geo_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [ ]:
input_data=pd.DataFrame([input_data])
input_data

   CreditScore Geography Gender  Age  Tenure  Balance  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male   40       3    60000              2          1               1            50000

In [ ]:
input_data[['Gender']]=labelcoder.transform(input_data[['Gender']])

C:\Users\SUDHARSHAN\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
input_data[['Gender']]

   Gender
0       1

In [ ]:
input_data_df=pd.concat([input_data,onehot_geo_df],axis=1)
input_data_df=input_data_df.drop('Geography',axis=1)

In [ ]:
input_data_df

   CreditScore  Gender  Age  Tenure  ...  EstimatedSalary  Geography_France  Geography_Germany  Geography_Spain
0          600       1   40       3  ...            50000               1.0                0.0              0.0

[1 rows x 12 columns]

In [ ]:
input_scaled=scaler.transform(input_data_df)

In [ ]:
input_scaled

array([[-0.52281016,  0.91241915,  0.10281024, -0.69598177, -0.26422114,
         0.80773656,  0.64609167,  0.97024255, -0.87101922,  0.99720391,
        -0.57873591, -0.57380915]])

In [ ]:
# predict churn
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 3s 3s/step

array([[0.29693598]], dtype=float32)

In [ ]:
prediction_prob=prediction[0][0]
prediction_prob

0.29693598